@tailwind base;
@tailwind components;
@tailwind utilities;

.input-container::before {
  content: ">";
  position: absolute;
}

.terminal-input {
  background-color: #000;
  color: #fff;
  width: auto;
  min-width: 0;
}
